@page "/"
@using Data


<h1>Open a map</h1>

<button class="map-open" onclick="mapSelector()">Open Maps</button>


<EditForm Model="address" class="address-form" OnValidSubmit="HandleNewAddress">
    <DataAnnotationsValidator />
    <ValidationSummary />
    

    <InputText @bind-Value="address.Address" placeholder="Address" class="address input"></InputText>
    <InputText @bind-Value="address.City" placeholder="City" class="address input"></InputText>
    <InputText @bind-Value="address.State" placeholder="State" class="address input"></InputText>
    <InputText @bind-Value="address.ZipCode" placeholder="Zip Code" class="address input"></InputText>

    <button type="submit">Add address</button>
</EditForm>


@if (!AllAddresses.Any())
{
    <div>No addresses...</div>
}
else
{
    <h2>Addresses.</h2>

    @foreach (var addr in AllAddresses)
    {
        <div>@addr.Address  @addr.City, @addr.State  @addr.ZipCode</div>
    }
}



@code {

    private List<MapData> AllAddresses = new List<MapData>();

    private MapData address = new MapData();


    public void HandleNewAddress()
    {
        AllAddresses.Add(address);
        address = new MapData();
    }

}

